<h1><a href="/properties/<%= @property.id %>"> Property: <%= @property.description %></a></h1>

<h2>Comments:</h2>

<div>

<h3><%= @comment.body %></h3>

</div>

<form action="/comments/<%= @comment.id %>/edit" method="get">
	<input type="submit" value="edit">
</form>

<form action="/comments/<%= @comment.id %>" method="post">
	<input type="hidden" name="_method" value="delete">
	<input type="submit" value="delete">
</form>